<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ map }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="ion-text-center">Gorod Krovi</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-select [(ngModel)]="language" [value]="language" (ionChange)="changeLanguage()">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="es">Spanish</ion-select-option>
    </ion-select>
  </ion-item>
  <div style="margin: 25px;">
    <strong class="capitalize">{{ layout }}</strong><br><br>
    <ion-img
        src="../../assets/images/gorod/map.jpg"
      ></ion-img><br>
    <strong class="capitalize">{{ prep_title }}</strong><br>
    <p>{{ prep_1 }}<br><br>
      <ion-img
        src="../../assets/images/gorod/1.jpg"
      ></ion-img><br>
      {{ prep_2 }} <br><br>
      <ion-img src="../../assets/images/gorod/2.PNG"></ion-img><br>
      {{ prep_3 }} <br><br>
      <ion-img src="../../assets/images/gorod/3.jpg"></ion-img><br>
      {{ prep_4 }} <br><br>
      <ion-img src="../../assets/images/gorod/4.jpg"></ion-img><br>
      <span [innerHTML]="prep_5"></span><br><br>
      <ion-img src="../../assets/images/gorod/5.jpg"></ion-img><br>
    </p>
    <strong class="capitalize">Easter Egg</strong><br>
    <p>
      <span [innerHTML]="ee_1"></span><br><br>
      <ion-img src="../../assets/images/gorod/6.jpg"></ion-img><br>
      {{ ee_2 }}<br><br>
      <ion-img src="../../assets/images/gorod/7.jpg"></ion-img><br><br>
      <ion-img src="../../assets/images/gorod/7-1.jpg"></ion-img><br>
      {{ ee_3 }}<br><br>
      <ion-img src="../../assets/images/gorod/8.jpg"></ion-img><br>
      {{ ee_4 }}<br><br>
      <ion-img src="../../assets/images/gorod/9.jpg"></ion-img><br>
      {{ ee_5 }}<br><br>
      <ion-img src="../../assets/images/gorod/10.jpg"></ion-img><br><br>
      <ion-img src="../../assets/images/gorod/10-1.jpg"></ion-img><br>
      {{ ee_6 }}<br><br>
      <ion-img src="../../assets/images/gorod/11.jpg"></ion-img><br>
      {{ ee_7 }}<br><br>
      <ion-img src="../../assets/images/gorod/12.jpg"></ion-img><br>
      {{ ee_8 }}<br><br>
      - Dragon command<br>
      <ion-img src="../../assets/images/gorod/13-1.jpg"></ion-img><br>
      - Armory<br>
      <ion-img src="../../assets/images/gorod/13-2.jpg"></ion-img><br>
      - Supply Depot<br>
      <ion-img src="../../assets/images/gorod/13-3.jpg"></ion-img><br>
      - Infirmary<br>
      <ion-img src="../../assets/images/gorod/13-4.jpg"></ion-img><br>
      - Tank Factory<br>
      <ion-img src="../../assets/images/gorod/13-5.jpg"></ion-img><br>
      - Department Store<br>
      <ion-img src="../../assets/images/gorod/13-6.jpg"></ion-img><br>
      {{ ee_9 }}
      <br><br>
      <ion-item>

        <span style="color: green;">{{ input_1 }}</span>
        <ion-select [(ngModel)]="green_valve" (ionChange)="valveCombination()">
          <ion-select-option value="0">Select</ion-select-option>
          <ion-select-option value="1">Armory</ion-select-option>
          <ion-select-option value="2">Department Store</ion-select-option>
          <ion-select-option value="3">Dragon Command</ion-select-option>
          <ion-select-option value="4">Infirmary</ion-select-option>
          <ion-select-option value="5">Supply Depot</ion-select-option>
          <ion-select-option value="6">Tank Factory</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <span style="color:purple;">{{ input_2 }}</span>
        <ion-select [(ngModel)]="pink_valve" (ionChange)="valveCombination()">
          <ion-select-option value="0">Select</ion-select-option>
          <ion-select-option value="1">Armory</ion-select-option>
          <ion-select-option value="2">Department Store</ion-select-option>
          <ion-select-option value="3">Dragon Command</ion-select-option>
          <ion-select-option value="4">Infirmary</ion-select-option>
          <ion-select-option value="5">Supply Depot</ion-select-option>
          <ion-select-option value="6">Tank Factory</ion-select-option>
        </ion-select>
      </ion-item>
      <br><br>
      <span [innerHTML]="combination"></span>
    </p>
  </div>
</ion-content>
